{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid" style="padding: 2rem 2rem">
    <div class="container">
        <h1 class="display-4">Hi, {{ current_user.username }}!</h1>
        <p class="lead">Any thoughts to share with the world?</p>
        <br>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <small class="text-muted">{{ form.title.label }}</small>
                    {{ form.title(size=64, class="form-control") }}
                </div>
                <div class="form-group">
                    <small class="text-muted">{{ form.body.label }}</small>
                    {{ form.body(class="form-control", cols=26, rows=4) }}
                    {% for error in form.body.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="post" class="btn btn-info">Write new post</label>
                    {{ form.submit(id="post", style="display:none") }}
                </div>
            </form>

    </div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-light">
            <span class="navbar-text">
                What other people saying
            </span>
            <form class="form-inline ml-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </div>
</div>

<hr class="mt-1">

{% for post in posts %}
<div class="row mt-4">
    <div class="col-12">
        <div class="card border-0">
            <div class="row no-gutters w-75">
                <div class="col-md-1 align-items-center d-flex">
                    <div class="embed-responsive embed-responsive-1by1">
                        <div class="embed-responsive-item">
                            <img class="img-fluid" src="{{ url_for('avatars', filename=post.author.image) if post.author.image
                            else post.author.default_avatar() }}">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body" >
                        <small class="text-muted">{{ post.timestamp }}</small>
                        <h5 class="card-title"><a href="{{ url_for('user', username=post.author.username) }}" class="link text-decoration-none">{{ post.author.username }}</a> says:</h5>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        {% if post.title %}
                        <h6 class="card-title">{{ post.title }}</h6>
                        {% endif %}
                        <p>{{ post.body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-4">
{% endfor%}
{% endblock %}