{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card border-0">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img class="card-img" src="{{ url_for('main.avatars', filename=user.image) if user.image
                    else user.default_avatar() }}" >
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h1 class="card-title">{{ user.username }}</h1>
                        {% if user.about_me %}<p class="card-text">{{ user.about_me }}</p>{% endif %}
                        {% if user.last_seen %}<p class="card-text"><small class="text-muted">Last seen on: {{ user.last_seen }}</small></p>{% endif %}
                        <br>
                        {% if user == current_user %}
                        <a class="btn btn-info btn-sm" href="{{ url_for('main.edit_profile') }}" role="button">Edit your profile</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        {% if not user==current_user %}
                        {% if not current_user.is_following(user) %}
                        <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            <label for="follow" class="btn btn-info btn btn-block">Follow</label>
                            {{ form.submit(id="follow", style="display:none") }}
                        </form>
                        {% else %}
                        <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            <label for="unfollow" class="btn btn-outline-info btn btn-block">Unfollow</label>
                            {{ form.submit(id="unfollow", style="display:none") }}
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<hr class="mt-1">

{% for post in posts.items %}
    {% include '_post.html' %}
{% endfor %}

<br>
{% with username=user.username %}
    {% include '_post_pagination.html' %}
{% endwith %}
<br>

{% endblock %}